/* Definir variaveis para cores */

:root {
    --primary-color: #f07807;
    --second-color: #f7e5d8;
}


/* Formatação Padrão */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}


/* ------------------------------------------ */


/* Adicionar cor ao Body, adicionar espaçamento interno e definir fonte poppins para todos os elementos dentro do mesmo */

body {
    padding: 0 80px;
    font-family: "Poppins", sans-serif;
    background-color: var(--second-color);
}


/* --------------------------------------------- */


/* Centralizar conteudo do header, fixar o header tornando-o flutuante e espaçar o mesmo do top da pagina */

header {
    display: flex;
    justify-content: space-between;
    top: 60px;
    height: 60px;
    width: calc(100% - 160px);
    position: fixed;
    align-items: center;
}

header menu {
    display: flex;
    gap: 48px;
    align-items: center;
}


/* ---------------------------------------------------- */


/* Formatação do Botão de login com variaveis definidas anteriormente e add de trasição e sombra com transition e box-shadow */

header li {
    padding: 4px 10px;
    transition: 0.5s;
}

header li:hover {
    background-color: var(--second-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.278);
}

header button {
    width: 120px;
    height: 48px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.278);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--primary-color);
    background-color: var(--second-color);
    font-weight: 600;
}


/* ------------------------------------------------------------------ */

main {
    height: 700px;
}

footer {
    height: 526px;
    background-color: brown;
}